body{font-family:  'Lato', sans-serif;background-color: rgb(110, 232, 241);}

.flex-section{
    display: flex;margin-bottom: 150px;
}
.header-text{width:40%; padding-left: 3%;
}
.header-text img{
    width:80%; padding-left: 200px;
}
 
h1{
    font-size: 60px; 
}
#leftside-border{
    border-image: linear-gradient(purple,tomato);border-left: 5px solid; border-image-slice: 1;
}
.text-color{
    color: #ffffff;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(purple,tomato);
    color: white;
    padding: 14px 49px;
    font-weight: 700;
    border-radius: 8px;
}
/* middle section */
 .Mission-item{
    box-shadow: 10px 10px 40px  gray; width: 40%;margin-left: 5%;margin-right: 5%;padding: 8px;border-radius: 20px;
 }
 #box-background1{ 
     background-color: burlywood;
 }
 #box-background2{
    background-color: thistle;
 }
 #box-background3{
    background-color: wheat;
 }
.half-width{
    width: 40%;padding: 3%;
}
.half-width img{width: 100%;padding-left: 40px;}
#leftside-circle{
    background-image:url(shapes/shape-1.png);background-repeat: no-repeat;background-size: 270px;background-position:left 150px ;
}
#rightside-circle{
    background-image: url(shapes/shape-1.png);background-repeat: no-repeat;background-size: 190px;background-position: right +450px;
}
.bottom{text-align: center;background-color:rgb(83, 83, 138);padding: 50px;}